@import-normalize;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
}

#root > *:not(:first-child) {
  margin-top: 8px;
}

.day {
  display: flex;
  flex-direction: column;
}

.day > *:not(:first-child) {
  margin-top: 8px;
}

.day nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}

.meals-list {
  display: flex;
  flex-direction: column;
}

.meals-list > *:not(:first-child) {
  margin-top: 8px;
}

.meal {
  border: 1px solid;
}
